@font-face {
  font-family: Norse;
  src: url("assets/Norse-Bold.woff2") format("woff2");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  font-family: system-ui, sans-serif;
}

.sidebar {
  background: center / auto 100%
    url("assets/halie-west-25xggax4bSA-unsplash.jpg");
  color: #fff;
  flex: 3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  color: #fff;
}

main {
  flex: 5;
  background-color: #f9fafb;
}

main > * {
  padding-left: 45px;
}

.logo {
  background-color: rgb(0, 0, 0, 0.5);
  font-family: Norse;
  font-size: 5.5rem;
  margin-top: 200px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 120px;
  width: auto;
}

.sidebar > p {
  margin-top: auto;
  text-align: center;
  font-size: 0.8rem;
}

.fomo {
  color: #000;
  font-weight: 600;
  font-size: 1.3rem;
  max-inline-size: 58ch;
}

form .fomo {
  color: #333;
  margin-top: 0;
}

main > .fomo:first-child {
  margin-top: 150px;
}

form {
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  box-shadow: 0px 3px 8px #ccc;
}

.input-row {
  display: flex;
  column-gap: 60px;
  flex-wrap: wrap;
}

.input-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

label {
  color: #555;
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

input {
  font-size: 0.9rem;
  font-family: inherit;
  min-width: 240px;
  padding: 4px 10px;
  outline: none;
  border: 1px solid #eee;
  border-radius: 5px;
}

input:invalid {
  border-color: #bb0000;
}

input:focus {
  border-color: #0022ee;
  box-shadow: 2px 2px 7px #bbb;
}

main button {
  margin: 30px 0 15px 45px;
  padding: 14px 50px;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  background-color: #596d48;
  border: none;
  border-radius: 8px;
  box-shadow: 1px 3px 6px #bbb;
}

main a {
  color: #596d48;
  text-decoration: none;
  font-weight: 800;
}
