*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
}

.sidebar {
  color: #fff;
  flex: 3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 5;
}

.logo {
  background-color: rgb(0, 0, 0, 0.33);
  font-size: 4rem;
  margin-top: 200px;
  padding: 10px 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 120px;
  width: auto;
}

.sidebar > p {
  margin-top: auto;
  text-align: center;
}
